@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*{
    box-sizing: border-box;
    color: #777;
    font-family: EB Garamond;
}

title {
    font-family: Luxurious script;
}
html, body{
    margin: 0;
    padding: 0;
}
html{
    background: url(images/wall/crackedWall.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background:rgba(255,255, 255,0.8);
  }

.navUL {
    margin: 0;
}
.navUL li{
    display: inline;
}
.navUL a{
    display: inline-block;
    padding: 2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;

}
.navUL a:hover{
    background-color: rgba(255,255, 255,.3);
}
.navigation{
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255,255, 255,.3);
    background-color: rgba(0,0, 0,.5);
    position: fixed;
    width: 100%;
}
.restaurant-name{
    font-size: 6em;
    color: whitesmoke;
    font-weight: normal;
    font-family: Tangerine;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.subH{
    font-size: 2em;
    font-weight: lighter;
    color: white;
    font-family: Tangerine;
    padding-bottom: 0;
    text-align: center;
    margin: 0;
}
.centralH{
    margin: 0;
    align-items: center;
    padding: 10%;
    padding-bottom: 15%;
}
.main-header {
    margin-top: 0;
    background-image: url(images/shampaigneStr.jpg);
    background-size: cover;
}
.content-section{
    margin: 3em; 
    border-top: 2px solid  rgb(212,175,55);
    border-bottom: 2px solid  rgb(212,175,55);
}

.container{
    background-color: white;
    text-align: center;
    padding: 0 35%;
}
.container2{
    background-color: white;
    text-align: center;
    padding: 0 25%;
}
.h2content{
    color:rgb(212,175,55);
}
.about-section {
    margin: 6em;
    height: fit-content;
    min-height: 575px;
    
}
.about-section.about-DelMuro{
    background-image: linear-gradient(rgba(248, 131, 88, 0.1), white) ;
    min-width: 365px;
}
.about-section.about-wall{
    background-image: linear-gradient(rgba(169, 211, 235, 0.2),white );
    min-width: 665px;
}
.experience-image{
    margin-left: 2em;
    margin-right: 3em;
    float: left;
}
.experience-delMuro{
    height: 400px;
    width: 330px;

}
.experience-wall{
    height: 400px;
    width: 450px;
    border-radius: 50%;
}
.about-paragraph{
    margin-left: 6em;
    margin-right: 2em;
    padding: 1em;
    text-align: right;   
}
.about-main-header{
    font-family: EB Garamond;
    font-weight: lighter;
    color:  rgb(63, 63, 63);
    font-size: 3em;
    padding-bottom: 1em;
    margin: 0;
    text-align: center;
}
.about-header{
    font-family: Tangerine;
    font-weight: lighter;
    color: rgb(63, 63, 63);
    font-size: 2em;
    padding-top: 1em;
    margin: 0;
    text-align: center;
}

.main-footer{
    background-color: rgb(65, 64, 64);
    display: flex;
    text-align: center;
    align-items: stretch;
}
.footer-head{
    color:rgb(223, 197, 111);
    font-size: 4rem;
    padding: 1rem;
    margin: 0;
    text-align:left;
}
.footer-header{
    color:rgb(212,175,55);
    text-align: right;
}

.footer-ul {
    list-style-type: none;
    text-align: right;
}
.contactUs li span{  
    color: antiquewhite;
}
.contactUs li{  
    padding-bottom: 1em;
}
.contactUs li span:hover{
    font-size: larger;
    border-bottom: 1px solid white;
}
.address-div{
    color: white;
    text-align: left;
    padding-left: 2rem;
}
.nameAddress{  
    padding: 2rem;
    flex-grow: 0.95;
}