@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
*{
    box-sizing: border-box;
    color: #777;
    font-family: EB Garamond;
}

title {
    font-family: Luxurious script;
}
html, body{
    margin: 0;
    padding: 0;
}
html{
    background: url(images/wall/crackedWall.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}
body {
    background:rgba(255,255, 255,0.8);
  }
/******************************************* NAVIGATION ********************************************************/

.navUL {
    margin: 0;
}
.navUL li{
    display: inline;
}
.navUL a{
    display: inline-block;
    padding: 2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}
.navULLI a:hover{
    background-color: rgba(255,255, 255,.3);
}
.navigation{
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255,255, 255,.3);
    background-color: rgba(0,0, 0,.5);
}

.social-nav{
    padding: 0em;
    float: right;
}
/******************************************* HEAD NAME ********************************************************/
.restaurant-name{
    font-size: 6em;
    color: whitesmoke;
    font-weight: normal;
    font-family: Tangerine;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.subH{
    font-size: 2em;
    font-weight: lighter;
    color: white;
    font-family: Tangerine;
    padding-bottom: 0;
    text-align: center;
    margin: 0;
}
.centralH{
    margin: 0;
    align-items: center;
    padding: 2%;
    padding-bottom: 15%;
}
.main-header {
    margin-top: 0;
    background-image: url(images/shampaigneStr.jpg);
    background-size: cover;
    background-position: center 0;
}
.content-section{
    margin: auto; 
    border-top: 2px solid  rgb(212,175,55);
    border-bottom: 2px solid  rgb(212,175,55);
    background-color: white;
    text-align: center;
    padding: 10px 50px;
}
.h2content{
    color:rgb(212,175,55);
}

/*******************************************ABOUT********************************************************/
.about-section {
    margin: 3em;
}
.about-section.about-DelMuro{
    background-image: linear-gradient(rgba(248, 131, 88, 0.1), white) ;
 
}
.about-section.about-wall{
    background-image: linear-gradient(rgba(169, 211, 235, 0.2),white );
}

.about-main-header{
    font-family: EB Garamond;
    font-weight: lighter;
    color:  rgb(63, 63, 63);
    font-size: 3em;
    margin: 0;
    text-align: center;
}
.about-header{
    font-family: Tangerine;
    font-weight: lighter;
    color: rgb(63, 63, 63);
    font-size: 2em;
    padding-top: 1em;
    margin: 0;
    text-align: center;
}

.image-text{
    padding-left: 10px 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image-span{
    max-width: 350px;
}
.image-text span{
    margin: auto;
    padding: 10px 20px;
    padding-bottom: 20px;
}
.experience-image{
    max-width:100%;
    max-height:100%;
}
.about-paragraph{
    max-width: 500px;
    text-align: center;
}

.experience-wall{
    border-radius: 50%;
}
/*******************************************ABOUT********************************************************/
.location{
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    /*don't shrink size but arrange atound main axis(vertically by default) when no space*/
    flex-wrap: wrap;
    display: flex;
    /*main axis*/
    justify-content: space-around;
    /*cross axis*/
    align-items: center;
    /*cross axis for multiple lines*/
    align-content: center;
}

.maps-frame{
    max-width: 100%;
    max-height:100%;
}
.location span{
    padding: 10px;
    margin: auto;
}

.main-button{
    margin-top: 2em;
    padding: 6px;
    border: none;
    border-radius: 16px;
    background-color: rgb(212,175,55);
    color: white;
    text-shadow: black;
    font-style: italic;
    font-size: larger;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 230px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    font-weight: 900;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main-footer{
    background-color: rgb(65, 64, 64);
    display: flex;
    text-align: center;
    align-items: stretch; 
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-head{
    color:rgb(223, 197, 111);
    font-size: 4rem;
    margin: auto;
    text-align:left;
}
.footer-header{
    color:rgb(212,175,55);
    text-align: right;
}

.footer-ul {
    list-style-type: none;
    text-align: right;
}

.links-ul{
    list-style-type: none ;
    text-align: center;
}
.links-ul li{
    display: inline;
    padding: 0;
    margin: auto;
}

.contactUs li span{  
    color: antiquewhite;
}
.contactUs li{  
    padding-bottom: 1em;
}
.contactUs li span:hover{
    font-size: larger;
    border-bottom: 1px solid white;
}
.address-div{
    color: white;
    text-align: left;
    padding-left: 2rem;
}
.nameAddress{  
    padding: 2rem;
}